<div class="container-fluid">
    <div class="container">

        <nav class="navbar">

            <div class="col-6 items">

                <div class="col-2 mx-2">
                    <a routerLink="" class="logo">icono</a>
                </div>
    
                <div class="col-2 mx-2">
                    <a routerLink="">home</a>
                </div>

                <div class="col-2 mx-2">
                    <a routerLink="">setting</a>
                </div>

            </div>

            <div class="col-6 login">
                <a routerLink="" class="sesion">
                    login
                </a>
            </div>

        </nav>

    </div>
</div>
