.container-fluid {
  background-color: rgb(33, 37, 41);
}

.navbar .items {
  margin: 0%;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
}

.navbar .login {
  margin: 0%;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}
