<div class="cover vh-100">

    <div class="row text">

        <div class="title my-1">
            <div class="col-12">
                <h1>Cover your page.</h1>
            </div>
        </div>
        <div class="col-6 my-1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem voluptates ducimus praesentium. Quod iure, tempora fugiat, consequuntur, deserunt quia atque impedit illum autem necessitatibus id nihil vero reiciendis voluptatibus.</p>
        </div>
        <div class="col-12 text-center my-1">
            <button>
                Learn More
            </button>
        </div>
        
    </div>

</div>